.category-list {
  width: 100%;
  box-sizing: border-box;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.category-list__category {
  font-weight: var(--font-size-categories);
  background-color: var(--contrast-light-color);
  border-radius: 3rem;
  padding: 1rem;
}

.category-list__category--frontend {
  color: var(--contrast-light-color);
  background-color: var(--cor-categoria-frontend);
}

.category-list__category--opinion {
  color: var(--contrast-light-color);
  background-color: var(--cor-categoria-opinion);
}
