.active {
	background-color: rgb(0, 0, 0);
	color: white;
}

.header {
	display: flex;
	align-items: center;
	height: 4.75rem;
	flex-direction: row;
	justify-content: space-around;
}
.header-container {
	display: flex;
	padding: 15px;
	justify-content: space-around;
	width: 100%;
	background-color: var(--contrast-light-color);
	border-radius: 10px;
	box-shadow: var(--shadow);
	height: 8vh;
	align-items: center;
}

.header__logo {
	width: 3rem;
}

.header__title {
	font-family: var(--font-family-body);
	font-size: var(--font-logo);
	margin-left: 0.5rem;
}

.menu-header-background {
	background: rgba(255, 255, 255, 0.15);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	position: fixed;
	top: 0;
	left: -100vw;
	width: 100vw;
	height: 100vh;
}

.menu-items {
	display: flex;
	align-items: center;
}

.menu-item {
	border: none;
	padding: 7px 8px;
	margin-right: 1rem;
	border-radius: 8px;
}

nav ul li a:not(.active):hover{
	background-color: rgb(111, 34, 183);
	color:rgb(233, 233, 233);
}

.menu-item--entrar {
	border-radius: 2rem;
	padding: 1rem 1.5rem;
	background-color: black;
	color: var(--contrast-light-color);
	border: none;
}

@media (min-width: 900px) {
	.header {
		height: 6.75rem;
		width: 100%;
		justify-content: center;
	}
	.header-container {
		justify-content: space-around;
		width: 70%;
		border-radius: 10px;
		padding: 15px;
		align-items: center;
	}

	.menu-item--entrar {
		border-radius: 2rem;
		padding: 1rem 1.5rem;
	}
}
